# For more information about the configurations used
# in this file, please see the Travis CI documentation.
# .travis.yml
# https://docs.travis-ci.com

sudo: enabled

install:
  - sudo bash -c "$(curl -LSs https://github.com/dfmgr/installer/raw/master/install.sh)"
  - sudo pkmgr init
  - pkmgr update
  - sudo dotfiles admin scripts
  - dotfiles install git
  - bash -c "[ -f $(command -v git >/dev/null 2>&1) ] && timeout --signal=9 --foreground --preserve-status 5 git status || true"
  - ./install.sh --version
  - ./install.sh --help
  - ./install.sh --debug
  - ./install.sh --installed

matrix:
  include:
    - os: linux
      dist: bionic
      language: bash
      sudo: enabled

notifications:
  email:
    on_failure: never
    on_success: never
